<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/admin/fragments/head :: head}"></head>
<body>
<link rel="stylesheet" th:href="@{/admin/assets/compiled/css/css/khachHang.css}">
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Sidebar -->
    <div>
        <aside th:replace="/admin/fragments/sidebar :: sidebar"></aside>
    </div>

    <!-- Main-->
    <div id="main">
        <header th:replace="/admin/fragments/header :: header"></header>
        <div class="page-content">
            <!--        dữ liệu thực hiện trong secsion-->
            <section class="row">
                <div class="card">
                    <div class="card-header">
                        <form id="updateKHForm">
                            <div class="container">
                                <div class="row justify-content-around">
                                    <div class="col-md-5 gap-3">
                                        <div class="col floating-group">
                                            <input type="text" class="form-control" placeholder="" aria-label="name"
                                                   id="name">
                                            <label for="name">Tên khách hàng</label>
                                        </div>
                                        <div class="col floating-group">
                                            <input type="text" class="form-control" placeholder=""
                                                   aria-label="email"
                                                   id="email">
                                            <label for="email">Email</label>
                                        </div>
                                        <div class="col floating-group">
                                            <input type="text" class="form-control" placeholder=""
                                                   aria-label="soDienThoai"
                                                   id="soDienThoai">
                                            <label for="soDienThoai">Số điện thoại</label>
                                        </div>
                                        <div class="col floating-group">
                                            <input type="date" class="form-control" placeholder=""
                                                   aria-label="ngaySinh"
                                                   id="ngaySinh">
                                            <label for="ngaySinh">mm/dd/yyyy</label>
                                        </div>
                                        <div class="col">
                                            <label for="gioiTinh" class="form-label">Giới tính</label>
                                            <select class="form-select" id="gioiTinh" name="gioiTinh" required>
                                                <option value="Nam">Nam</option>
                                                <option value="Nữ">Nữ</option>
                                                <option value="Khác">Khác</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-7">
                                        <div class=" row align-items-start">
                                            <div class="col">
                                                <label for="city" class="form-label"><span
                                                        class="text-danger">*</span>Tỉnh/Thành phố</label>
                                                <select class="form-select" id="city" name="tinhThanhPho" required>
                                                    <option value="" selected>Chọn Tỉnh/Thành phố</option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <label for="district" class="form-label"><span
                                                        class="text-danger">*</span>Quận/Huyện </label>
                                                <select class="form-select" id="district" name="diaChi" required>
                                                    <option value="" selected>Chọn Quận/Huyện</option>
                                                </select>
                                            </div>

                                            <div class="col">
                                                <label for="ward" class="form-label">Xã/Phường <span
                                                        class="text-danger">*</span></label>
                                                <select class="form-select" id="ward" name="diaChi" required>
                                                    <option value="" selected>Chọn Xã/Phường</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col floating-group mt-3">
                                            <input type="text" class="form-control" placeholder=""
                                                   aria-label="diaChiCuThe"
                                                   id="diaChiCuThe">
                                            <label for="diaChiCuThe">Địa chỉ cụ thể</label>
                                        </div>

                                        <div class="mt-3">
                                            <button type="submit" class="btn btn-primary m-1">
                                                <i class="bi bi-save"></i> Lưu
                                            </button>
                                            <a th:href="@{/khach-hang/index}" class="btn btn-secondary m-1">
                                                <i class="bi bi-arrow-left"></i> Quay lại
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="card-body">
                    </div>

                </div>
            </section>
        </div>
    </div>
    <!-- Footer-->
    <div>
        <footer th:replace="/admin/fragments/footer :: footer"></footer>
    </div>
</div>
<div>
    <script th:replace="/admin/fragments/script :: script"></script>

    <script th:src="@{/admin/assets/compiled/js/components.js}"></script>
</div>
</body>
</html>
