<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/admin/fragments/head :: head}"></head>
<body>
<link rel="stylesheet" th:href="@{/admin/assets/compiled/css/css/khachHang.css}">
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Sidebar -->
    <div>
        <aside th:replace="/admin/fragments/sidebar :: sidebar"></aside>
    </div>

    <!-- Main-->
    <div id="main">
        <header th:replace="/admin/fragments/header :: header"></header>
        <div class="page-content">
            <!--        dữ liệu thực hiện trong secsion-->
            <section class="row">
                <div class="card">
                    <div class="card-header">
                        <form id="updateKHForm" th:object="${khachHang}">
                            <div class="container">
                                <div class="row justify-content-around">
                                    <div class="col-md-5 gap-3">
                                        <div class="col floating-group">
                                            <input type="text" class="form-control" placeholder="" aria-label="name"
                                                   id="name" th:field="*{ten}">
                                            <label for="name">Tên khách hàng</label>
                                        </div>
                                        <div class="col floating-group">
                                            <input type="text" class="form-control" placeholder=""
                                                   aria-label="email"
                                                   id="email" th:field="*{taiKhoan.email}">
                                            <label for="email">Email</label>
                                        </div>
                                        <div class="col floating-group">
                                            <input type="text" class="form-control" placeholder=""
                                                   aria-label="soDienThoai"
                                                   id="soDienThoai" th:field="*{soDienThoai}">
                                            <label for="soDienThoai">Số điện thoại</label>
                                        </div>
                                        <div class="col floating-group">
                                            <input type="date" class="form-control" placeholder=""
                                                   aria-label="ngaySinh"
                                                   id="ngaySinh" th:field="*{ngaySinh}">
                                            <label for="ngaySinh">mm/dd/yyyy</label>
                                        </div>
                                        <div class="col">
                                            <label for="gioiTinh" class="form-label">Giới tính</label>
                                            <select class="form-select" id="gioiTinh" name="gioiTinh" required th:field="*{gioiTinh}">
                                                <option value="Nam">Nam</option>
                                                <option value="Nữ">Nữ</option>
                                                <option value="Khác">Khác</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-7">
                                        <div th:each="diaChi, stat : ${listDiaChi}">
                                            <form>
                                                <div>
                                                    <input type="hidden" th:id="'tinhThanhPho' + ${stat.index}"
                                                           th:value="${diaChi.tinh}"/>
                                                    <input type="hidden" th:id="'quanHuyen' + ${stat.index}"
                                                           th:value="${diaChi.huyen}"/>
                                                    <input type="hidden" th:id="'xaPhuong' + ${stat.index}"
                                                           th:value="${diaChi.xa}"/>

                                                    <h6 th:id="'city' + ${stat.index}">Tỉnh: </h6>
                                                    <h6 th:id="'district' + ${stat.index}">Quận / Huyện: </h6>
                                                    <h6 th:id="'ward' + ${stat.index}">Xã / Phường: </h6>
                                                    <h6 th:text="${diaChi.soNhaNgoDuong}">Chi tiết địa chỉ</h6>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="card-body">
                    </div>

                </div>
            </section>
        </div>
    </div>
    <!-- Footer-->
    <div>
        <footer th:replace="/admin/fragments/footer :: footer"></footer>
    </div>
</div>
<div>
    <script th:replace="/admin/fragments/script :: script"></script>


    <script th:src="@{/admin/assets/compiled/js/diaChi.js}"></script>
    <!-- hienthitendangnhap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.min.js"></script>

</div>
</body>
</html>
