<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/admin/fragments/head :: head}">
</head>
<body>
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Sidebar -->
    <div>
        <aside th:replace="/admin/fragments/sidebar :: sidebar"></aside>
    </div>

    <!-- Main -->
    <div id="main">
        <header th:replace="/admin/fragments/header :: header"></header>
        <div class="page-content">
            <section class="row">
                <div class="card">
                    <div class="card-header">
                        <div class="dataTable-top">
                            <form method="get" action="/khach-hang/index">
                                <div class="row">
                                    <div class="col-6">
                                        <input type="text" id="searchInput" class="form-control" name="search"
                                               placeholder="Tìm kiếm khách hàng..." th:value="${search}">
                                    </div>
                                    <div class="col-3">
                                        <select class="form-select" id="trangThai" name="trangThai">
                                            <option value="">Tất cả trạng thái</option>
                                            <option value="true">...</option>
                                            <option value="false">...</option>
                                        </select>
                                    </div>
                                    <div class="col-3 d-flex">
                                        <div>
                                            <button class="btn btn-outline-primary" type="submit"
                                                    style="width: 70px; margin-right: 10px">
                                                <i class="bi bi-search"></i>
                                            </button>
                                        </div>
                                        <div>
                                            <a class="btn btn-outline-warning" href="/khach-hang/index"
                                               style="width: 70px">
                                                <i class="bi bi-arrow-counterclockwise"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="dataTable-container mt-3">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="card-title">Danh sách khách hàng </h5>
                                <a th:href="@{/khach-hang/view-them}" class="btn btn-primary" role="button"
                                   aria-label="Thêm khách hàng">
                                    <i class="bi bi-plus-circle"></i> Thêm khách hàng
                                </a>
                            </div>
                            <table class="table table-striped dataTable-table">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã</th>
                                    <th>Họ và tên</th>
                                    <th>Số điện thoại</th>
                                    <th>Giới tính</th>
                                    <th>Email</th>
                                    <th>Trạng thái</th>
                                    <th>Hành động</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="khachHang, iterStat : ${listKH}">
                                    <td th:text="${iterStat.count}"></td>
                                    <td th:text="${khachHang.ma}"></td>
                                    <td th:text="${khachHang.ten}"></td>
                                    <td th:text="${khachHang.soDienThoai}"></td>
                                    <td th:text="${khachHang.gioiTinh}"></td>
                                    <td th:text="${khachHang.taiKhoan.email}"></td>
                                    <td th:text="${khachHang.trangThai ? 'Đang hoạt động' : 'Ngưng hoạt động'}"></td>
                                    <td>
                                        <a th:href="@{/khach-hang/detail(id=${khachHang.id})}"
                                           class="btn btn-outline-warning">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                        <button class="btn btn-outline-primary changeStatusKhachHang"
                                                th:attr="data-id=${khachHang.id}">
                                            <i class="bi bi-arrow-left-right"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!--                             Pagination-->
                            <div th:if="${listKH.totalPages > 1}">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                        <li th:each="i : ${#numbers.sequence(0, listKH.totalPages - 1)}"
                                            th:class="${i == currentPage} ? 'page-item active' : 'page-item'">
                                            <a class="page-link"
                                               th:href="@{/nhan-vien/index(page=${i}, search=${search}, trangThai=${trangThai})}"
                                               th:text="${i + 1}"></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="card-body"></div>
                </div>
            </section>
        </div>
    </div>
    <!-- Footer -->
    <div>
        <footer th:replace="/admin/fragments/footer :: footer"></footer>
    </div>
</div>
<div>
    <script th:replace="/admin/fragments/script :: script"></script>
    <script th:src="@{/admin/assets/compiled/js/KhachHang/khachHang.js}"></script>
</div>
</body>
</html>