.Timeline {
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    height: 180px;
    padding-top: 50px;
    width: auto;  /* Chiều rộng cố định */
    overflow-x: auto; /* Hiển thị thanh cuộn ngang khi cần */
    white-space: nowrap; /* Ngăn nội dung xuống dòng */
}

.event1 {
    position: relative;
}

.event1Bubble {
    position: absolute;
    background-color: rgba(158, 158, 158, 0.1);
    width: 139px;
    height: 60px;
    top: -70px;
    left: -15px;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(158, 158, 158, 0.64)
}

.event1Bubble:after,
.event1Bubble:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;
}

.event1Bubble:before {
    bottom: -10px;
    left: 13px;
    border-top-color: rgba(222, 222, 222, 0.66);
    border-width: 12px;
}

.event1Bubble:after {
    bottom: -8px;
    left: 13px;
    border-top-color: #F6F6F6;
    border-width: 12px;
}

.eventTime {
    display: flex;
}

.DayDigit {
    font-size: 27px;
    font-family: "Arial Black", Gadget, sans-serif;
    margin-left: 10px;
    margin-top: 2px;
    color: #4C4A4A;
}

.Day {
    font-size: 11px;
    margin-left: 5px;
    font-weight: bold;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4C4A4A;
}

.MonthYear {
    font-weight: 600;
    line-height: 10px;
    color: #9E9E9E;
    font-size: 9px;
}

.eventTitle {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 40px;
    margin-top: -1px;
    color: #ff9900;
}

.time {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    width: 50px;
    font-size: 8px;
    margin-top: -3px;
    margin-left: -5px;
    color: #9E9E9E;
}

.eventAuthor {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: #9E9E9E;
    font-size: 8px;
    width: 100px;
    top: -8px;
    left: 63px;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,900);

.hexa {
    border: 0px;
    float: left;
    text-align: center;
    height: 35px;
    width: 60px;
    font-size: 22px;
    background: #f0f0f0;
    color: #3c3c3c;
    position: relative;
    margin-top: 5px;
}

.hexa:before {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 15px solid #f0f0f0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    top: -15px;
}

.hexa:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 15px solid #f0f0f0;
    bottom: -15px;
}

.timeline-1 {
    position: relative;
    padding: 0;
    width: 100%;
    margin-top: 5px;
    list-style-type: none;
}

.timeline-1:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    background: rgb(213, 213, 213);
    background: -moz-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 1)), color-stop(100%, rgba(125, 185, 232, 1)));
    background: -webkit-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background: -o-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background: -ms-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background: linear-gradient(to bottom, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    z-index: 5;
}

.timeline-1 li {
    padding: 2em 0;
}

.timeline-1 .hexa {
    width: 16px;
    height: 10px;
    position: absolute;
    background: #00c4f3;
    z-index: 5;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -30px;
    margin-top: 0;
}

.timeline-1 .hexa:before {
    border-bottom: 4px solid #00c4f3;
    border-left-width: 8px;
    border-right-width: 8px;
    top: -4px;
}

.timeline-1 .hexa:after {
    border-left-width: 8px;
    border-right-width: 8px;
    border-top: 4px solid #00c4f3;
    bottom: -4px;
}

.direction-r {
    float: none;
    width: 100%;
    text-align: center;
}

.flag-wrapper {
    text-align: center;
    position: relative;
}

.flag {
    position: relative;
    display: inline;
    background: rgb(255, 255, 255);
    font-weight: 600;
    z-index: 15;
    padding: 6px 10px;
    text-align: left;
    border-radius: 5px;
}

.direction-l .flag:after,
.direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -15px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    border-width: 8px;
    pointer-events: none;
}

.direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
    line-height: 1em;
    vertical-align: middle;
    color: #fff;
}

.direction-l .time-wrapper {
    float: none;
}

.direction-r .time-wrapper {
    float: none;
}

.time-1 {
    background: #00c4f3;
    display: inline-block;
    padding: 8px;
}

.desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: rgb(254, 254, 254);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
    z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    z-index: 15;
}

@media(min-width: 380px) {
    .timeline-1 {
        width: 300px;
    }

    .timeline-1 li:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .timeline-1 .hexa {
        left: -28px;
        right: auto;
        top: 8px;
    }

    .timeline-1 .direction-l .hexa {
        left: auto;
        right: -28px;
    }

    .direction-r {
        position: relative;
        width: 310px;
        float: right;
        text-align: left;
    }

    .flag-wrapper {
        display: inline-block;
    }

    .flag {
        font-size: 18px;
    }

    .direction-l .flag:after {
        left: auto;
        right: -16px;
        top: 50%;
        margin-top: -8px;
    }

    .direction-r .flag:after {
        top: 50%;
        margin-top: -8px;
        left: -8px;
    }

    .time-wrapper {
        display: inline;
        vertical-align: middle;
        margin: 0;
    }

    .direction-l .time-wrapper {
        float: left;
    }

    .direction-r .time-wrapper {
        float: right;
    }

    .time-1 {
        padding: 5px 10px;
    }

    .direction-r .desc {
        margin: 1em 0 0 0.75em;
    }
}

@media(min-width: 800px) {
    .timeline-1 {
        width: 800px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .direction-l {
        position: relative;
        width: 380px;
        float: left;
        text-align: right;
    }

    .direction-r {
        position: relative;
        width: 380px;
        float: right;
        text-align: left;
    }
}


/*thong tin san pham*/
.product-soLuong{
    width: 35%;
}

.product-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 15px;
}
.product-details {
    flex-grow: 1;
}
.product-price {
    font-weight: bold;
}
.product-brand {
    color: red;
}
.product-category {
    color: red;
}

/*.summary {*/
/*    margin-top: 30px;*/
/*    padding: 20px;*/
/*    border: 1px solid #ddd;*/
/*    border-radius: 10px;*/
/*}*/
/*.summary h5 {*/
/*    font-weight: bold;*/
/*}*/
.order-total {
    font-size: 24px;
    font-weight: bold;
    color: red;
}
.discount {
    color: blue;
    font-weight: bold;
}
/*sản phẩm trong hóa đơn*/
/*.product-item {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*    padding: 10px;*/
/*}*/

/*.product-img {*/
/*    width: 80px;*/
/*    height: 80px;*/
/*    object-fit: cover;*/
/*    border-radius: 8px;*/
/*}*/

.product-price {
    font-weight: bold;
    color: #ff5733;
}
/*Phân trang*/
.pagination-container {
    text-align: center;
    margin-top: 15px;
}
.pagination-container {
    display: flex;
    justify-content: flex-end; /* Đưa phân trang về bên phải */
    margin-top: 15px;
    padding-right: 20px; /* Khoảng cách với mép phải */
}
#pagination a {
    border-radius: 50%; /* Bo tròn */
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

}
#pagination .current {
    border-radius: 50%; /* Bo tròn */
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2F8CF9;
    color: white; /* Chữ màu trắng để dễ nhìn */
    font-weight: bold;
    border: 1px solid #2F8CF9; /* Viền màu xanh đậm hơn */
}



/*button so luong*/
.quantity-container {
    display: inline-flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
    background: white;
}
.quantity-btn {
    background: none;
    border: none;
    font-size: 18px;
    color: #888;
    cursor: pointer;
}
.quantity-btn-1 {
    background: none;
    border: none;
    font-size: 18px;
    color: #888;
    cursor: pointer;
}
.quantity-input {
    width: 40px;
    text-align: center;
    border: none;
    outline: none;
    font-size: 16px;
}

