.product-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}
.product-soLuong{
    width: 35%;
}

.product-price {
    font-weight: bold;
    color: #ff5733;
}

/*button so luong*/
.quantity-container {
    display: inline-flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
    background: white;
}
.quantity-btn {
    background: none;
    border: none;
    font-size: 18px;
    color: #888;
    cursor: pointer;
}
.quantity-btn-1 {
    background: none;
    border: none;
    font-size: 18px;
    color: #888;
    cursor: pointer;
}
.quantity-input {
    width: 40px;
    text-align: center;
    border: none;
    outline: none;
    font-size: 16px;
}

.floating-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.floating-group input {
    width: 100%;
    padding: 8px 6px;
    font-size: 0.875rem;
    outline: none;
    background: transparent;
}

.floating-group label {
    position: absolute;
    top: 10px;
    left: 20px;
    color: #777;
    font-size: 0.875rem;
    pointer-events: none;
    transition: all 0.2s ease;
    background-color: white;
    padding: 0 6px;
}

.floating-group input:focus {
    border-bottom: 2px solid #007BFF;
}

.floating-group input:focus + label,
.floating-group input:not(:placeholder-shown):valid + label {
    top: -8px;
    left: 8px;
    font-size: 0.7rem;
    color: #007BFF;
}