<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/admin/fragments/head :: head}">
</head>
<link rel="stylesheet" th:href="@{/admin/assets/compiled/css/hoaDonChiTiet.css}">
<body>
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Sidebar -->
    <div>
        <aside th:replace="/admin/fragments/sidebar :: sidebar"></aside>
    </div>

    <!-- Main-->
    <div id="main">
        <header th:replace="/admin/fragments/header :: header"></header>
        <div class="page-content">
            <!--        dữ liệu thực hiện trong secsion-->
            <section class="row">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h2>Theo dõi đơn hàng</h2>
                        <button type="button" class="btn btn-outline-primary " data-bs-toggle="modal"
                                data-bs-target="#myModal1">
                            Lịch sử
                        </button>
                    </div>
                    <div class="modal fade" id="myModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-xl" style="height: 500px">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel1">Lịch sử thao tác</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <ul class="timeline-1" th:each="history : ${lichSuHoaDonList}">
                                    <!-- Item 1 -->
                                    <li>
                                        <div class="direction-r">
                                            <div class="flag-wrapper">
                                                <span class="hexa"></span>
                                                <span class="flag"
                                                      th:switch="${history.trangThai}">
                                                        <span th:case="1" class="text-warning">Chờ xác nhận</span>
                                                        <span th:case="2" class="text-primary">Đã xác nhận</span>
                                                        <span th:case="3" class="text-success">Đang giao hàng</span>
                                                        <span th:case="4" class="text-danger-emphasis">Hoàn thành</span>
                                                        <span th:case="5" class="text-secondary">Hủy</span>
                                                </span>
                                                <span class="time-wrapper">
                                                    <span class="time-1"
                                                          th:text="${#temporals.format(history.ngayTao, 'dd-MM-yyyy')}">

                                                    </span>
                                                </span>
                                            </div>
                                            <div class="desc" th:text="${history.moTa}">

                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Đóng
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="Timeline px-4">
                        <svg height="5" width="180">
                            <line x1="0" y1="0" x2="180" y2="0" style="stroke:#004165;stroke-width:5"/>
                        </svg>
                        <div class="event1" th:each="history : ${lichSuHoaDonList}">
                            <div class="event1Bubble" th:switch="${history.trangThai}">
                                <div>
                                    <div th:case="0" class="eventTime">
                                        <div class="DayDigit">
                                            <i class="fas fa-hourglass-half"></i>
                                        </div>
                                        <div class="Day">
                                            <span>Hóa đơn chờ</span>
                                            <div class="MonthYear"
                                                 th:text="${#temporals.format(history.ngayTao, 'dd-MM-yyyy')}">
                                            </div>
                                        </div>
                                    </div>
                                    <div th:case="1" class="eventTime">
                                        <div class="DayDigit">
                                            <i class="far fa-clock"></i> <!-- Đồng hồ viền mỏng -->
                                        </div>
                                        <div class="Day">
                                            <span>Chờ xác nhận</span>
                                            <div class="MonthYear"
                                                 th:text="${#temporals.format(history.ngayTao, 'dd-MM-yyyy')}">
                                            </div>
                                        </div>
                                    </div>
                                    <div th:case="2" class="eventTime">
                                        <div class="DayDigit text-success">
                                            <i class="bi bi-box-seam-fill"></i>
                                        </div>
                                        <div class="Day">
                                            <span class="text-success">Đã xác nhận</span>
                                            <div class="MonthYear text-success"
                                                 th:text="${#temporals.format(history.ngayTao, 'dd-MM-yyyy')}">
                                            </div>
                                        </div>
                                    </div>
                                    <div th:case="3" class="eventTime">
                                        <div class="DayDigit">
                                            <i class="fas fa-shipping-fast text-primary-emphasis"></i>
                                            <!-- Xe giao hàng nhanh -->
                                        </div>
                                        <div class="Day">
                                            <span class="text-primary-emphasis">Giao hàng</span>
                                            <div class="MonthYear text-primary-emphasis"
                                                 th:text="${#temporals.format(history.ngayTao, 'dd-MM-yyyy')}">
                                            </div>
                                        </div>
                                    </div>
                                    <div th:case="4" class="eventTime">
                                        <div class="DayDigit">
                                            <i class="far fa-check-circle text-danger-emphasis"></i>
                                            <!-- Dấu tích trong vòng tròn -->
                                        </div>
                                        <div class="Day">
                                            <span class="text-danger-emphasis">Hoàn thành</span>
                                            <div class="MonthYear text-danger-emphasis"
                                                 th:text="${#temporals.format(history.ngayTao, 'dd-MM-yyyy')}">

                                            </div>
                                        </div>
                                    </div>
                                    <div th:case="5" class="eventTime">
                                        <div class="DayDigit text-danger">
                                            <i class="bi bi-x-circle"></i>
                                        </div>
                                        <div class="Day text-danger">
                                            <span>Hủy</span>
                                            <div class="MonthYear text-danger"
                                                 th:text="${#temporals.format(history.ngayTao, 'dd-MM-yyyy')}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="eventTitle">Fan Tech</div>
                            </div>
                            <div class="eventAuthor">by Admin</div>
                            <svg height="20" width="20">
                                <circle cx="10" cy="11" r="5" fill="#004165"/>
                            </svg>
                            <svg height="5" width="200">
                                <line x1="0" y1="0" x2="200" y2="0" style="stroke:#004165;stroke-width:5"/>
                            </svg>
                            <div class="time" th:text="${#temporals.format(history.ngayTao, 'HH:mm')}"></div>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="d-flex" th:if="${hoaDon.trangThai != 4 && hoaDon.trangThai != 5 }">
                            <form th:if="${hoaDon.trangThai != 3 && hoaDon.trangThai != 2 && hoaDon.trangThai != 0}"
                                  class="me-2" th:data-id="${hoaDon.id}">
                                <button type="button" class="btn btn-outline-success btn-xac-nhan">Xác nhận</button>
                            </form>

                            <form th:if="${hoaDon.trangThai != 3 && hoaDon.trangThai != 1 && hoaDon.trangThai != 0}"
                                  class="me-2" th:data-id="${hoaDon.id}">
                                <button type="button" class="btn btn-outline-warning btn-giao-hang">Giao hàng</button>
                            </form>

                            <form th:if="${hoaDon.trangThai == 3}"
                                  class="me-2" th:data-id="${hoaDon.id}">
                                <button type="button" class="btn btn-outline-primary btn-hoan-thanh">Hoàn Thành</button>
                            </form>

                            <form th:if="${hoaDon.trangThai != 3}"
                                  class="me-2" th:data-id="${hoaDon.id}">
                                <button type="button" class="btn btn-outline-danger btn-huy">Hủy</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!--                Lịch sử thanh toán-->
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h2>Lịch sử thanh toán</h2>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped dataTable-table"
                               th:if="${hoaDon.trangThai != 3 && hoaDon.trangThai != 2 &&
                           hoaDon.trangThai != 0 && hoaDon.trangThai != 1}">
                            <thead>
                            <tr>
                                <th>Tổng tiền</th>
                                <th>Trạng thái</th>
                                <th>Thời gian</th>
                                <th>Phương thức thanh toán</th>
                                <th>Loại hóa đơn</th>
                                <th>Người tạo</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item: ${listLSTT}">
                                <td class="giaVND"
                                    th:text="${item.tongTienSauGiamGia != null ? item.tongTienSauGiamGia : 'N/A'}"></td>
                                <td th:switch="${item.trangThai}">
                                    <span th:case="0" class="text-secondary-emphasis">Đang treo</span>
                                    <span th:case="1" class="text-secondary-emphasis">Đang chờ xác nhận</span>
                                    <span th:case="2" class="text-success">Đã xác nhận</span>
                                    <span th:case="3" class="text-warning">Đang giao hàng</span>
                                    <span th:case="4" class="text-primary">Hoàn thành</span>
                                    <span th:case="5" class="text-danger">Hủy</span>
                                </td>
                                <td th:text="${#temporals.format(hoaDon.ngaySua, 'dd-MM-yyyy HH:mm')}"></td>
                                <td th:text="${item.hinhThucThanhToan}"></td>
                                <td th:class="${item.loaiHoaDon ? 'text-danger' : 'text-primary'}"
                                    th:text="${item.loaiHoaDon ? 'Tại quầy' : 'Online'}">
                                </td>
                                <!--                                <td th:text="${item.nguoiTao}"></td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--                Thông tin khách hàng-->
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h2>Thông tin khách hàng</h2>
                        <button type="submit" class="btn btn-outline-warning"
                                th:if="${hoaDon.trangThai == 0 || hoaDon.trangThai == 1 ||hoaDon.trangThai == 2}">
                            <i class="bi bi-gear-wide-connected"></i>
                        </button>
                    </div>
                    <form class="px-4">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label fw-bolder">Tên người nhận</label>
                                <input type="text" class="form-control" placeholder="Tên"
                                       th:value="${hoaDon.tenNguoiNhan}"
                                       th:disabled="${hoaDon.trangThai == 4 || hoaDon.trangThai == 5 || hoaDon.trangThai == 3}"
                                >
                            </div>
                            <div class="col-md-6">
                                <label class="form-label fw-bolder">Số điện thoại</label>
                                <input type="text" class="form-control" placeholder="Số điện thoại"
                                       th:value="${hoaDon.sdtNguoiNhan}"
                                       th:disabled="${hoaDon.trangThai == 4 || hoaDon.trangThai == 5 || hoaDon.trangThai == 3}">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label fw-bolder" for="city">Thành phố</label>
                                <select class="form-control" id="city" name="tinh_thanh_pho"
                                        th:disabled="${hoaDon.trangThai == 4 || hoaDon.trangThai == 5 || hoaDon.trangThai == 3}">
                                    <option value="" selected>Chọn tỉnh thành</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label fw-bolder" for="district">Quận huyện</label>
                                <select class="form-control" id="district" name="quan_huyen"
                                        th:disabled="${hoaDon.trangThai == 4 || hoaDon.trangThai == 5 || hoaDon.trangThai == 3}">
                                    <option value="" selected>Chọn quận huyện</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label fw-bolder" for="district">Phường xã</label>
                                <select class="form-control" id="ward" name="xa_phuong"
                                        th:disabled="${hoaDon.trangThai == 4 || hoaDon.trangThai == 5 || hoaDon.trangThai == 3}">
                                    <option value="" selected>Chọn phường xã</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label fw-bolder">Số nhà / Ngõ đường</label>
                                <input type="text" class="form-control"
                                       placeholder="1300 Rockdick Rd., Unit A Markham, ON L3R8C3"
                                       th:disabled="${hoaDon.trangThai == 4 || hoaDon.trangThai == 5 || hoaDon.trangThai == 3}">
                            </div>
                        </div>
                    </form>
                </div>
                <!--                Thông tin sản phẩm-->
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h2>Thông tin sản phẩm</h2>
                        <button class="btn btn-outline-success" type="button" data-bs-toggle="modal"
                                data-bs-target="#addSanPham"
                                th:if="${hoaDon.trangThai == 0 || hoaDon.trangThai == 1 ||hoaDon.trangThai == 2}">
                            <i class="bi bi-patch-plus-fill"></i>
                        </button>
                    </div>


                    <!-- DANH SÁCH SẢN PHẨM -->
                    <div id="product-list" style="max-height: 400px; overflow-y: auto;">
                        <div class="product-item d-flex align-items-center justify-content-between border-bottom border-top p-2"
                             th:each="item: ${listHDCT}">
                            <div class="align-items-center d-flex">
                                <img src="https://i.pinimg.com/736x/4c/83/36/4c83365869bfd6d9c19c554e8e7a0ad1.jpg"
                                     class="product-img" alt="Sản phẩm">

                                <div class="product-details ms-3">
                                    <h5 class="mb-2" th:text="${item.sanPhamChiTiet.sanPham.ten}"></h5>
                                    <p class="mb-2">Giá: <span class="product-price"
                                                               th:text="${item.gia}"></span> VND</p>
                                    <p class="mb-2">Hãng: <span class="product-category"
                                                                th:text="${item.sanPhamChiTiet.hang.ten}"></span></p>
                                </div>
                            </div>
                            <div class="product-soLuong d-flex align-items-center justify-content-between">
                                <div class="text-center">
                                    <form th:data-idsp="${item.sanPhamChiTiet.id}"
                                          th:data-idhd="${hoaDon.id}"
                                          th:data-gia="${item.gia}"
                                          id="updateSoLuong"
                                          method="post"
                                          action="/sale/updateSoLuong"
                                          class="update-so-luong-form">
                                        <div class="quantity-container">
                                            <button class="quantity-btn-1" type="button"
                                                    th:if="${hoaDon.trangThai == 0 || hoaDon.trangThai == 1 ||hoaDon.trangThai == 2}">
                                                −
                                            </button>
                                            <input type="text" class="quantity-input"
                                                   th:disabled="${hoaDon.trangThai != 0 || hoaDon.trangThai != 1 ||hoaDon.trangThai != 2}"
                                                   th:value="${item.soLuong}" id="soLuong" name="soLuong">
                                            <button class="quantity-btn" type="button"
                                                    th:if="${hoaDon.trangThai == 0 || hoaDon.trangThai == 1 ||hoaDon.trangThai == 2}">
                                                +
                                            </button>
                                        </div>
                                    </form>
                                </div>

                                <div class="product-total" th:text="${item.thanhTien} + ' VND'"></div>

                                <a href="javascript:void(0);"
                                   class="btn btn-outline-danger text-danger btn-xoa-sanPham"
                                   th:data-id="${item.sanPhamChiTiet.id}"
                                   th:if="${hoaDon.trangThai == 0 || hoaDon.trangThai == 1 ||hoaDon.trangThai == 2}">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="summary mt-5 mx-4">
                        <p>Tổng số lượng <span class="float-end" th:text="${tongSoLuong}"></span></p>
<!--                        <p>Shipping fee <span class="float-end">$20.00</span></p>-->
                        <p>Tổng tiền <span class="order-total float-end" th:text="${tongTien}"></span></p>
<!--                        <p>Discount Voucher <span class="discount float-end">$25</span></p>-->
<!--                        <p>Estimated delivery time <span class="float-end">5 days</span></p>-->
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Modal add sản phẩm-->
    <div class="modal fade" id="addSanPham" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Danh sách sản phẩm</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body" style="max-height: 60vh; overflow-y: auto;">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="searchQuery"
                               placeholder="Tìm kiếm sản phẩm...">
                        <button type="button" class="btn btn-outline-primary" id="searchButton">
                            Tìm kiếm
                        </button>
                    </div>
                    <!-- Lọc theo các trường riêng biệt -->
                    <div class="row g-3">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Lọc theo tên"
                                   aria-label="name">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Lọc theo màu sắc"
                                   aria-label="color">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Lọc theo công suất"
                                   aria-label="capacity">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Lọc theo giá"
                                   aria-label="price">
                        </div>
                    </div>
                    <hr>
                    <table class="table table-striped dataTable-table">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>Công xuất</th>
                            <th>Màu</th>
                            <th>Số lượng</th>
                            <th>Thao tác</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item, iter : ${findSPCTByIdSanPham}">
                            <td th:text="${iter.count}"></td>
                            <td th:text="${item.sanPham.ten}"></td>
                            <td th:text="${item.gia}">h1</td>
                            <td th:text="${item.congSuat.ten}"></td>
                            <td th:text="${item.mauSac.ten}"></td>
                            <td th:text="${item.soLuong}"></td>
                            <td>
                                <button type="button"
                                        class="btn btn-outline-success btn-add-sanPham"
                                        th:data-id-hd="${hoaDon.id}"
                                        th:data-id-sp="${item.id}"
                                        th:data-gia="${item.gia}">
                                    Thêm
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer-->
    <div>
        <footer th:replace="/admin/fragments/footer :: footer"></footer>
    </div>
</div>
<script th:replace="/admin/fragments/script :: script"></script>
<script th:src="@{/admin/assets/compiled/js/components.js}"></script>
<script th:src="@{/admin/assets/compiled/js/hdct.js}"></script>
<!-- hienthitendangnhap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.min.js"></script>


</body>
</html>
