<div th:fragment="script" xmlns:th="http://www.thymeleaf.org">
    <script th:src="@{/admin/assets/static/js/components/dark.js}"></script>
    <script th:src="@{/admin/assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
    <script th:src="@{/admin/assets/compiled/js/app.js}"></script>
    <script th:src="@{/admin/assets/extensions/apexcharts/apexcharts.min.js}"></script>
    <script th:src="@{/admin/assets/static/js/pages/dashboard.js}"></script>
    <script th:src="@{/admin/assets/extensions/choices.js/public/assets/scripts/choices.js}"></script>
    <script th:src="@{/admin/assets/static/js/pages/form-element-select.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</div>
